.div1 {
    background-image: url("./Datagir\ lwood\ image.png");
    padding: 15%;

}

.diva {
    margin-left: 20%;
    margin-bottom: 10%;
    width: 25%;
}

.div2 {
    font-size: 40px;


}

.div3 {
    width: 70%;
    margin-left: 5%;
}

.btn {
    border-radius: 5%;
    margin-left: 5%;
}
.lin{border-radius: 5%;
    margin-left: 3%;
}

.div4 {
    border-radius: 5%;
}

.div5 {
    border-radius: 5%;
    margin-left: 2%;
}

.divi {
    border-radius: 60px;
    margin-left: 45%;
    width: 10%;
}

.divi2 {
    border-radius: 60px;
    margin-left: 45%;
    width: 10%;
}

body {
    background-color: aliceblue;
}

.bg-pink {
    background-color: #e4046b;
    border-radius: 20px;
}

.text-pink {
    color: #e4046b;
}

.image {
    width: 20%;
}

.visit:hover {
    background-color: rgb(9, 9, 70);
}

.visit2:hover {
    background-color: black;
}

@media all and (max-width: 480px) {
    .size {
        font-size: 70px;
    }


}